<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1">
		<!-- Google Chrome Frame也可以让IE用上Chrome的引擎: -->
		<meta name="renderer" content="webkit">
		<!--国产浏览器高速模式-->
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="author" content="取名無能" />
		<!-- 作者 -->
		<meta name="revised" content="取名無能.v1, 2020/06/01" />
		<!-- 定义页面的最新版本 -->
		<meta name="description" content="网站简介" />
		<!-- 网站简介 -->
		<meta name="keywords" content="搜索关键字，以半角英文逗号隔开" />
		<title>後台</title>

		<!-- 公共样式 开始 -->
		<link rel="shortcut icon" href="../static/images/favicon.ico"/>
		<link rel="bookmark" href="../static/images/favicon.ico"/>
		<link rel="stylesheet" type="text/css" href="../static/css/base.css">
		<link rel="stylesheet" type="text/css" href="../static/css/iconfont.css">
		<script type="text/javascript" src="../static/framework/jquery-1.11.3.min.js" ></script>
		<link rel="stylesheet" type="text/css" href="../static/layui/css/layui.css">  
		<script type="text/javascript" src="../static/layui/layui.js"></script>
		<!-- 滚动条插件 -->
		<link rel="stylesheet" type="text/css" href="../static/css/jquery.mCustomScrollbar.css">
		<script src="../static/framework/jquery-ui-1.10.4.min.js"></script>
		<script src="../static/framework/jquery.mousewheel.min.js"></script>
		<script src="../static/framework/jquery.mCustomScrollbar.min.js"></script>
		<script src="../static/framework/cframe.js"></script><!-- 仅供所有子页面使用 -->
		<!-- 公共样式 结束 -->
		
		<link rel="stylesheet" type="text/css" href="../static/css/frameStyle.css">
		<script type="text/javascript" src="../static/framework/frame.js" ></script>
		

	</head>

	<body>



		 <!-- 左侧菜单 - 开始 -->
		<div class="frameMenu">
		    <div class="logo">
		       <img src="../static/images/logo.png"/>
		        <div class="logoText">
		            <h1>飛機調度系統</h1>
		            <p>取名無能出品</p>
		        </div>
		    </div>
		     <div class="menu">
		        <ul>

		        	<li>
		        		<a class="menuFA" href="javascript:void(0)"><i class="iconfont icon-biaodanwancheng left"></i>航班信息<i class="iconfont icon-dajiantouyou right"></i></a>
		        		 <dl>
		               		 <dt> <a href="1_add.html">添加</a></dt>
 							 <dt> <a href="1_list.html">修改</a></dt>
 							  <dt> <a href="1_search.html">搜尋</a></dt>

		                </dl>
		            </li>
		      
		            <li>
		         		<a href="frame.html"><i class="iconfont icon-dajiantouzuo"></i>返回主菜單</a>
		           	</li>
		        </ul>
		    </div>
		</div>
		<!-- 左侧菜单 - 结束 -->


	<div class="main">
			<!-- 头部栏 - 开始 -->
			<div class="frameTop">
				<img class="jt" src="../images/top_jt.png"/>
			</div>


			<!-- 头部栏 - 结束 -->


		<div class="frameMain">

			<div class="title" id="frameMainTitle">
					<span><i class="iconfont icon-xianshiqi"></i>航班信息</span>
			</div>


			<form id="addForm" class="layui-form" method="post" action='/1_addaction/'>
				
				<div class="layui-form-item">
					<label class="layui-form-label">航班號</label>
					<div class="layui-input-inline shortInput">
						<input type="text"   name ="aircraft_code" placeholder="DB520"  required lay-verify="required" autocomplete="off" class="layui-input">
					</div>
				</div>


				<div class="layui-form-item">
					<label class="layui-form-label">運營公司</label>
					<div class="layui-input-inline shortInput">
						<input type="text" name ="company"  placeholder="中華航空" autocomplete="off" class="layui-input">
					</div>
				</div>


				<div class="layui-form-item">
					<label class="layui-form-label">飛機型號</label>
					<div class="layui-input-inline shortInput">
						<input type="text" name ="aircraft_type"  placeholder="DB520" required lay-verify="required" autocomplete="off" class="layui-input">
					</div>
				</div>

				<div class="layui-form-item">
					<label class="layui-form-label">出發地</label>
					<div class="layui-input-inline shortInput">
						<input type="text" name ="departure_airport"  placeholder="TPE" autocomplete="off" class="layui-input">
					</div>
				</div>

				<div class="layui-form-item">
					<label class="layui-form-label">到達地</label>
					<div class="layui-input-inline shortInput">
						<input type="text" name ="arrival_airport"  placeholder="FOC" autocomplete="off" class="layui-input">
					</div>
				</div>

				<div class="layui-form-item">
					<label class="layui-form-label">中途地</label>
					<div class="layui-input-inline shortInput">
						<input type="text" name ="stopover_airport"  placeholder="NAP" autocomplete="off" class="layui-input">
					</div>
				</div>
				

				<div class="layui-form-item">
					<label class="layui-form-label">出發時間</label>
					<div class="layui-input-inline shortInput">
						<input type="text" name ="departure_time"  placeholder="00:00" autocomplete="off" class="layui-input">
					</div>
				</div>

				<div class="layui-form-item">
					<label class="layui-form-label">到達時間</label>
					<div class="layui-input-inline shortInput">
						<input type="text" name ="arrival_time"  placeholder="24:00" autocomplete="off" class="layui-input">
					</div>
				</div>


				<div class="layui-form-item">
					<label class="layui-form-label">宽度</label>
					<div class="layui-input-inline shortInput">
						<input type="text" name ="flight_weight"  placeholder="40" autocomplete="off" class="layui-input">
					</div>
				</div>

				

				<div class="layui-form-item">
					<div class="layui-input-block">
						<button class="layui-btn" lay-submit lay-filter="submitBut">Submit</button>
						<button type="reset" class="layui-btn layui-btn-primary">Reset</button>
					</div>
				</div>
			</form>
			
			

		</div>
		</div>
	</body>

</html>