<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1">
		<!-- Google Chrome Frame也可以让IE用上Chrome的引擎: -->
		<meta name="renderer" content="webkit">
		<!--国产浏览器高速模式-->
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="author" content="取名無能" />
		<!-- 作者 -->
		<meta name="revised" content="取名無能.v1, 2020/06/01" />
		<!-- 定义页面的最新版本 -->
		<meta name="description" content="网站简介" />
		<!-- 网站简介 -->
		<meta name="keywords" content="搜索关键字，以半角英文逗号隔开" />
		<title>後台</title>

		<!-- 公共样式 开始 -->
		<link rel="shortcut icon" href="../static/images/favicon.ico"/>
		<link rel="bookmark" href="../static/images/favicon.ico"/>
		<link rel="stylesheet" type="text/css" href="../static/css/base.css">
		<link rel="stylesheet" type="text/css" href="../static/css/iconfont.css">
		<script type="text/javascript" src="../static/framework/jquery-1.11.3.min.js" ></script>
		<link rel="stylesheet" type="text/css" href="../static/layui/css/layui.css">  
		<script type="text/javascript" src="../static/layui/layui.js"></script>
		<!-- 滚动条插件 -->
		<link rel="stylesheet" type="text/css" href="../static/css/jquery.mCustomScrollbar.css">
		<script src="../static/framework/jquery-ui-1.10.4.min.js"></script>
		<script src="../static/framework/jquery.mousewheel.min.js"></script>
		<script src="../static/framework/jquery.mCustomScrollbar.min.js"></script>
		<script src="../static/framework/cframe.js"></script><!-- 仅供所有子页面使用 -->
		<!-- 公共样式 结束 -->
		
		<link rel="stylesheet" type="text/css" href="../static/css/frameStyle.css">
		<script type="text/javascript" src="../static/framework/frame.js" ></script>


	</head>

	<body>
		
		  <!-- 左侧菜单 - 开始 -->
		<div class="frameMenu">
		    <div class="logo">
		       <img src="../static/images/logo.png"/>
		        <div class="logoText">
		            <h1>飛機調度系統</h1>
		            <p>取名無能出品</p>
		        </div>
		    </div>
		</div>
		<!-- 左侧菜单 - 结束 -->




	<div class="main">
			<!-- 头部栏 - 开始 -->
			<div class="frameTop">
				<img class="jt" src="../images/top_jt.png"/>
				<div class="topMenu">
					<ul>
						<li>
							<a href="frame.html"><i class="iconfont icon-dajiantouzuo"></i>Back</a>
						</li>
					</ul>
				</div>
			</div>


			<!-- 头部栏 - 结束 -->


		<div class="frameMain">
			<div class="console">

				<form class="layui-form" action="/searchaction/" method="post">
					<div class="layui-form-item">
						<div class="layui-input-inline">
							<input type="text" name="aircraft_code" required lay-verify="required" placeholder="航班號" autocomplete="off" class="layui-input">
						</div>
						<div class="layui-input-inline">
							<input type="text" name="departure_airport"  placeholder="出發地" autocomplete="off" class="layui-input">
						</div>

						<div class="layui-input-inline">
							<input type="text" name="arrival_airport"  placeholder="目的地" autocomplete="off" class="layui-input">
						</div>

						<button class="layui-btn" lay-submit lay-filter="formDemo" type="submit" class="search-submit">搜索</button>
					</div>
				</form>

				<script>
					layui.use('form', function() {
						var form = layui.form;
				
						//监听提交
						form.on('submit(formDemo)', function(data) {
							layer.msg(JSON.stringify(data.field));
							return false;
						});
					});
				</script>
			</div>
			
			<table class="layui-table">
				<thead>
					<tr>
						<th>航班號</th>
						<th>運營公司</th>
						<th>飛機型號</th>
						<th>出發地</th>
						<th>目的地</th>
						<th>中途地</th>
						<th>出發時間</th>
						<th>到達時間</th>
						<th>宽度</th>
						<th>操作</th>
					</tr>
				</thead>
				<tbody>
					{% for i in userlist %}
					<tr>
						<td>{{ i.aircraft_code }}</td>
						<td>{{ i.company }}</td>
						<td>{{ i.aircraft_type }}</td>
						<td>{{ i.departure_airport }}</td>
						<td>{{ i.arrival_airport }}</td>
						<td>{{ i.stopover_airport }}</td>
						<td>{{ i.departure_time }}</td>
						<td>{{ i.arrival_time }}</td>
						<td>{{ i.flight_weight }}</td>
						<td>
							<button class="layui-btn layui-btn-xs" onclick="updateList()">修改</button>
							<button class="layui-btn layui-btn-xs" onclick="delList(this)"><a href="/del?id={{ i.aircraft_code }}">删除</button>

						</td>
					</tr>
				{% endfor %}

				</tbody>
			</table>
			
			<!-- layUI 分页模块 -->
			<div id="pages"></div>
			<script>
				layui.use(['laypage', 'layer'], function() {
					var laypage = layui.laypage,
						layer = layui.layer;
				
					//总页数大于页码总数
					laypage.render({
					    elem: 'pages'
					    ,count: 100
					    ,layout: ['count', 'prev', 'page', 'next', 'limit', 'skip']
					    ,jump: function(obj){
					      console.log(obj)
					    }
					});
				});



			//修改按钮
				var updateFrame = null;
				function updateList(){
					layui.use('layer', function() {
						var layer = layui.layer;
							
						//iframe层-父子操作
						updateFrame = layer.open({
                    		title: "修改",
							type: 2,
							area: ['70%', '80%'],
							scrollbar: true,	
							maxmin: true,
							content: '1_update.html'
						});
					});
					
				}


				//删除
			function delList(_this){
				layui.use(['form','laydate'], function() {
					layer.confirm('確定要刪除嗎？', {
						btn: ['Yes', 'No'] //按钮
					}, function() {
						$(_this).parent().parent().remove();
						layer.msg('刪除成功', {
							icon: 1
						});
					}, function() {
						layer.msg('刪除取消', {
							time: 2000 //20s后自动关闭
						});
					});
				});




			}


			</script>
		</div>
	</body>

</html>