<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1">
		<!-- Google Chrome Frame也可以让IE用上Chrome的引擎: -->
		<meta name="renderer" content="webkit">
		<!--国产浏览器高速模式-->
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="author" content="取名無能" />
		<!-- 作者 -->
		<meta name="revised" content="取名無能.v1, 2020/06/01" />
		<!-- 定义页面的最新版本 -->
		<meta name="description" content="网站简介" />
		<!-- 网站简介 -->
		<meta name="keywords" content="搜索关键字，以半角英文逗号隔开" />
		<title>後台</title>

		<!-- 公共样式 开始 -->
		<link rel="shortcut icon" href="../static/images/favicon.ico"/>
		<link rel="bookmark" href="../static/images/favicon.ico"/>
		<link rel="stylesheet" type="text/css" href="../static/css/base.css">
		<link rel="stylesheet" type="text/css" href="../static/css/iconfont.css">
		<script type="text/javascript" src="../static/framework/jquery-1.11.3.min.js" ></script>
		<link rel="stylesheet" type="text/css" href="../static/layui/css/layui.css">  
		<script type="text/javascript" src="../static/layui/layui.js"></script>
		<!-- 滚动条插件 -->
		<link rel="stylesheet" type="text/css" href="../static/css/jquery.mCustomScrollbar.css">
		<script src="../static/framework/jquery-ui-1.10.4.min.js"></script>
		<script src="../static/framework/jquery.mousewheel.min.js"></script>
		<script src="../static/framework/jquery.mCustomScrollbar.min.js"></script>
		<script src="../static/framework/cframe.js"></script><!-- 仅供所有子页面使用 -->
		<!-- 公共样式 结束 -->
		
		<link rel="stylesheet" type="text/css" href="../static/css/frameStyle.css">
		<script type="text/javascript" src="../static/framework/frame.js" ></script>


	</head>

	<body>
		


	<div class="main">
			
		<div class="frameMain">
			<div class="title" id="frameMainTitle">
					<span><i class="iconfont icon-xianshiqi"></i>飛機性能</span>
			</div>

		 <form action='/2_updateaction/' method="post">
       
           {% for i in userlist %}
         <div class="layui-form-item">
					<label class="layui-form-label">飛機型號</label>
					<div class="layui-input-inline shortInput">
						<input type="text"    name="aircraft_type"  placeholder="A737"  readonly="readonly" autocomplete="off" class="layui-input" value="{{ i[0] }}">
					</div>
				</div>


				<div class="layui-form-item">
					<label class="layui-form-label">最大高度</label>
					<div class="layui-input-inline shortInput">
						<input type="text" name="max_attitude"  placeholder="12" autocomplete="off" class="layui-input" value="{{ i[1] }}">
					</div>
				</div>


				<div class="layui-form-item">
					<label class="layui-form-label">最大油量</label>
					<div class="layui-input-inline shortInput">
						<input type="text" name="max_fuel_load" placeholder="5"   autocomplete="off" class="layui-input" value="{{ i[2] }}">
					</div>
				</div>

				<div class="layui-form-item">
					<label class="layui-form-label">巡航</label>
					<div class="layui-input-inline shortInput">
						<input type="text" name="cruise" placeholder="900" autocomplete="off" class="layui-input" value="{{ i[3] }}">
					</div>
				</div>

				<div class="layui-form-item">
					<label class="layui-form-label">爬升率</label>
					<div class="layui-input-inline shortInput">
						<input type="text"  name="climb_rate" placeholder="1500" autocomplete="off" class="layui-input" value="{{ i[4] }}">
					</div>
				</div>

				<div class="layui-form-item">
					<label class="layui-form-label">續航時間</label>
					<div class="layui-input-inline shortInput">
						<input type="text" name="flight_duration" placeholder="8" autocomplete="off" class="layui-input" value="{{ i[5] }}">
					</div>
				</div>
				

				<div class="layui-form-item">
					<label class="layui-form-label">最大速度</label>
					<div class="layui-input-inline shortInput">
						<input type="text" name="max_speed" placeholder="1900" autocomplete="off" class="layui-input" value="{{ i[6] }}">
					</div>
				</div>

				<div class="layui-form-item">
					<label class="layui-form-label">最小速度</label>
					<div class="layui-input-inline shortInput">
						<input type="text" name="min_speed" placeholder="0" autocomplete="off" class="layui-input" value="{{ i[7] }}">
					</div>
				</div>


				<div class="layui-form-item">
					<label class="layui-form-label">起飛距離</label>
					<div class="layui-input-inline shortInput">
						<input type="text" name="takeoff_distance" placeholder="1000" autocomplete="off" class="layui-input" value="{{ i[8] }}">
					</div>
				</div>

				<div class="layui-form-item">
					<label class="layui-form-label">降落距離</label>
					<div class="layui-input-inline shortInput">
						<input type="text" name="landing_distance" placeholder="1500" autocomplete="off" class="layui-input" value="{{ i[9] }}">
					</div>
				</div>

				<div class="layui-form-item">
					<label class="layui-form-label">安全距離</label>
					<div class="layui-input-inline shortInput">
						<input type="text" name="safe_disdance" placeholder="10" autocomplete="off" class="layui-input" value="{{ i[10] }}">
					</div>
				</div>

				{% endfor %}

				<div class="layui-form-item">
					<div class="layui-input-block">
						<button class="layui-btn" lay-submit lay-filter="submitBut">Submit</button>
						<button type="reset" class="layui-btn layui-btn-primary">Reset</button>
					</div>
				</div>
    </form>



			
			


		</div>
		</div>
	</body>

</html>