<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1">
		<!-- Google Chrome Frame也可以让IE用上Chrome的引擎: -->
		<meta name="renderer" content="webkit">
		<!--国产浏览器高速模式-->
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="author" content="取名無能" />
		<!-- 作者 -->
		<meta name="revised" content="取名無能.v1, 2020/06/01" />
		<!-- 定义页面的最新版本 -->
		<meta name="description" content="网站简介" />
		<!-- 网站简介 -->
		<meta name="keywords" content="搜索关键字，以半角英文逗号隔开" />
		<title>後台</title>

		<!-- 公共样式 开始 -->
		<link rel="shortcut icon" href="../static/images/favicon.ico"/>
		<link rel="bookmark" href="../static/images/favicon.ico"/>
		<link rel="stylesheet" type="text/css" href="../static/css/base.css">
		<link rel="stylesheet" type="text/css" href="../static/css/iconfont.css">
		<script type="text/javascript" src="../static/framework/jquery-1.11.3.min.js" ></script>
		<link rel="stylesheet" type="text/css" href="../static/layui/css/layui.css">  
		<script type="text/javascript" src="../static/layui/layui.js"></script>
		<!-- 滚动条插件 -->
		<link rel="stylesheet" type="text/css" href="../static/css/jquery.mCustomScrollbar.css">
		<script src="../static/framework/jquery-ui-1.10.4.min.js"></script>
		<script src="../static/framework/jquery.mousewheel.min.js"></script>
		<script src="../static/framework/jquery.mCustomScrollbar.min.js"></script>
		<script src="../static/framework/cframe.js"></script><!-- 仅供所有子页面使用 -->
		<!-- 公共样式 结束 -->
		
		<link rel="stylesheet" type="text/css" href="../static/css/frameStyle.css">
		<script type="text/javascript" src="../static/framework/frame.js" ></script>


	</head>

	<body>
		
		 
		
		  <!-- 左侧菜单 - 开始 -->
		<div class="frameMenu">
		    <div class="logo">
		       <img src="../static/images/logo.png"/>
		        <div class="logoText">
		            <h1>飛機調度系統</h1>
		            <p>取名無能出品</p>
		        </div>
		    </div>
		     <div class="menu">
		        <ul>
		        	<li>
		        		<a class="menuFA" href="javascript:void(0)"><i class="iconfont icon-yunying left"></i>機場信息<i class="iconfont icon-dajiantouyou right"></i></a>
		        		 <dl>
		               		 <dt> <a href="3_add.html">添加</a></dt>
 							 <dt> <a href="3_list.html">修改</a></dt>
 							  <dt> <a href="3_search.html">搜尋</a></dt>

		                </dl>
		            </li>
		        <li>
		         		<a href="frame.html"><i class="iconfont icon-dajiantouzuo"></i>返回主菜單</a>
		           	</li>
		        </ul>
		    </div>
		</div>
		<!-- 左侧菜单 - 结束 -->

	<div class="main">
			<!-- 头部栏 - 开始 -->
			<div class="frameTop">
				<img class="jt" src="../images/top_jt.png"/>
			</div>


			<!-- 头部栏 - 结束 -->

		<div class="frameMain">
			<div class="title" id="frameMainTitle">
					<span><i class="iconfont icon-xianshiqi"></i>機場信息</span>
				</div>
			<table class="layui-table">
				<thead>
					<tr>
						<th>航班號</th>
						<th>機場名</th>
						<th>狀態</th>
						<th>空餘跑到數</th>
						<th>順序</th>
						<th>等待時間</th>	
						<th>操作</th>
					</tr>
				</thead>
				<tbody>
					{% for i in userlist %}
					<tr>
						<td>{{ i[0] }}</td>
						<td>{{ i[1]  }}</td>
						<td>{{ i[2]  }}</td>
						<td>{{ i[3]  }}</td>
						<td>{{ i[4]  }}</td>
						<td>{{ i[5]  }}</td>
						<td>
							<button class="layui-btn layui-btn-xs" onclick="updateList()"><a href="/3_update?id={{ i[0] }}id={{ i[1] }}"></a>修改</button>
							<button class="layui-btn layui-btn-xs" onclick="delList(this)"><a href="/3_delete?id={{ i[0]}}id={{ i[1] }}"></a><a href="/3_delete?id={{ i[1]}}">删除</a></button>

						</td>
					</tr>
				{% endfor %}
				</tbody>
				


			</table>
			
			
			<!-- layUI 分页模块 -->
			<div id="pages"></div>
			<script>
				layui.use(['laypage', 'layer'], function() {
					var laypage = layui.laypage,
						layer = layui.layer;
					
				});


			//修改按钮
				var updateFrame = null;
				function updateList(){
					layui.use('layer', function() {
						var layer = layui.layer;
							
						//iframe层-父子操作
						updateFrame = layer.open({
                    		title: "修改",
							type: 2,
							area: ['70%', '80%'],
							scrollbar: true,	
							maxmin: true,
							content: '3_update.html'
						});
					});
					
				}


				//删除
			function delList(_this){
				layui.use(['form','laydate'], function() {
					layer.confirm('確定要刪除嗎？', {
						btn: ['Yes', 'No'] //按钮
					}, function() {
						$(_this).parent().parent().remove();
						layer.msg('刪除成功', {
							icon: 1
						});
					}, function() {
						layer.msg('刪除取消', {
							time: 2000 //20s后自动关闭
						});
					});
				});




			}


			</script>
		</div>
	</body>

</html>