<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1">
		<!-- Google Chrome Frame也可以让IE用上Chrome的引擎: -->
		<meta name="renderer" content="webkit">
		<!--国产浏览器高速模式-->
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="author" content="取名無能" />
		<!-- 作者 -->
		<meta name="revised" content="取名無能.v1, 2020/06/01" />
		<!-- 定义页面的最新版本 -->
		<meta name="description" content="网站简介" />
		<!-- 网站简介 -->
		<meta name="keywords" content="搜索关键字，以半角英文逗号隔开" />
		<title>後台</title>

		<!-- 公共样式 开始 -->
		<link rel="shortcut icon" href="../static/images/favicon.ico"/>
		<link rel="bookmark" href="../static/images/favicon.ico"/>
		<link rel="stylesheet" type="text/css" href="../static/css/base.css">
		<link rel="stylesheet" type="text/css" href="../static/css/iconfont.css">
		<script type="text/javascript" src="../static/framework/jquery-1.11.3.min.js" ></script>
		<link rel="stylesheet" type="text/css" href="../static/layui/css/layui.css">  
		<script type="text/javascript" src="../static/layui/layui.js"></script>
		<!-- 滚动条插件 -->
		<link rel="stylesheet" type="text/css" href="../static/css/jquery.mCustomScrollbar.css">
		<script src="../static/framework/jquery-ui-1.10.4.min.js"></script>
		<script src="../static/framework/jquery.mousewheel.min.js"></script>
		<script src="../static/framework/jquery.mCustomScrollbar.min.js"></script>
		<script src="../static/framework/cframe.js"></script><!-- 仅供所有子页面使用 -->
		<!-- 公共样式 结束 -->
		
		<link rel="stylesheet" type="text/css" href="../static/css/frameStyle.css">
		<script type="text/javascript" src="../static/framework/frame.js" ></script>


	</head>

	<body>
		


	<div class="main">
			
		<div class="frameMain">
			<div class="title" id="frameMainTitle">
					<span><i class="iconfont icon-xianshiqi"></i>周圍環境</span>
			</div>

		 <form action='/4_updateaction/' method="post">
       
           {% for i in userlist %}
         <div class="layui-form-item">
					<label class="layui-form-label">航班號</label>
					<div class="layui-input-inline shortInput">
						<input type="text"   name ="aircraft_code" readonly="readonly" placeholder="DB520"   autocomplete="off" class="layui-input" value="{{ i[0] }}">
					</div>
				</div>


				<div class="layui-form-item">
					<label class="layui-form-label">濕度</label>
					<div class="layui-input-inline shortInput">
						<input type="text" name="humidity" placeholder="50%" autocomplete="off" class="layui-input" value="{{ i[1] }}">
					</div>
				</div>


				<div class="layui-form-item">
					<label class="layui-form-label">地形</label>
					<div class="layui-input-inline shortInput">
						<input type="text" name="landform" placeholder="山地"  autocomplete="off" class="layui-input" value="{{ i[2] }}">
					</div>
				</div>

				<div class="layui-form-item">
					<label class="layui-form-label">氣候</label>
					<div class="layui-input-inline shortInput">
						<input type="text" name="weather" placeholder="sunny"  autocomplete="off" class="layui-input" value="{{ i[3] }}">
					</div>
				</div>

				<div class="layui-form-item">
					<label class="layui-form-label">風級</label>
					<div class="layui-input-inline shortInput">
						<input type="text"  name="wind_scale" placeholder="4" autocomplete="off" class="layui-input" value="{{ i[4] }}">
					</div>
				</div>

				<div class="layui-form-item">
					<label class="layui-form-label">風向</label>
					<div class="layui-input-inline shortInput">
						<input type="text" name="wind_direction" placeholder="132" autocomplete="off" class="layui-input" value="{{ i[5] }}">
					</div>
				</div>
				

				{% endfor %}

				<div class="layui-form-item">
					<div class="layui-input-block">
						<button class="layui-btn" lay-submit lay-filter="submitBut">Submit</button>
						<button type="reset" class="layui-btn layui-btn-primary">Reset</button>
					</div>
				</div>
    </form>



			
			


		</div>
		</div>
	</body>

</html>